<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %> 
  <title>Authentication Successful</title>
</head>
<body>
  <div class="container">
    <h1>Authentication Successful</h1>
    <pre> <%= data %>  </pre>
  </div>

  <footer>
    <%- include('./partials/footer') %>
  </footer>
</body>
</html>